#summary li {
  flex: 1;
  display: flex;
}

.big_photo img {
  margin: 0 0 0;
  padding: 0 8vw 0;
  width: 100%;
  height: auto;
  border: solid white;
  justify-content: center;
}

.big_photo_details {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.big_photo_details div {
  padding: 0 8vw 2rem;
  text-align: right;
}
