[Unit]
Description=Monitor Spot instance interrutions

[Service]
ExecStart=/home/ec2-user/Website/.ec2config/persist_certs.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
