{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "photos/base.css" %}">
    {% block css_files %}{% endblock css_files %}
</head>
<body>
    <header id="main-navigation">
        <div>
            <span><a href="{% url "starting-page" %}">Sam j Drew</a></span>
        </div>
        <nav>
            <a href="{% url "home-starting-page" %}">Home</a>
            <a href="{% url "all-photos-page" %}">All Photos</a>
            <a href="{% url "starting-page" %}">Coming soon...</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
</body>
</html>