{% extends "samjd/base.html" %}
{% load static %}

{% block title %}
    Samuel J Drew
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "samjd/index.css" %}">
{% endblock css_files %}

{% block content %}
<div class="construction">
    <h1>Latest Posts</h1>
    <ul>
        {% for entry in entries %}
        <a href="{{ entry.node.url }}">
            <li>
                <div>
                    <h3>{{ entry.node.title|truncatewords:6 }}</h3>
                    <p>{{ entry.node.brief|truncatewords:20 }}</p>
                </div>
            </li>
        </a>
        {% endfor %}
        <a class="call-to-blog" href="https://blog.mountainbean.online/">
            <li>
                <div>
                    <p>Go to blog...</p>
                </div>
            </li>
        </a>
    </ul>
    <hr class="hr-solid">
    <div id="contacts">get in touch</div>
    <div class="socials">
        <a href="https://twitter.com/Samjdrew">
            <i class='bx bxl-twitter'></i>
        </a>
        <a href="https://github.com/MountainBean">
            <i class='bx bxl-github'></i>
        </a>
        <a href="https://hashnode.com/@SamDrew">
            <svg class="hashnode-svg" width="337" height="337" viewBox="0 0 337 337" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.155 112.598c-30.873 30.874-30.873 80.93 0 111.804l89.443 89.443c30.874 30.873 80.93 30.873 111.804 0l89.443-89.443c30.873-30.874 30.873-80.93 0-111.804l-89.443-89.443c-30.874-30.873-80.93-30.873-111.804 0l-89.443 89.443zm184.476 95.033c21.612-21.611 21.612-56.651 0-78.262-21.611-21.612-56.651-21.612-78.262 0-21.612 21.611-21.612 56.651 0 78.262 21.611 21.612 56.651 21.612 78.262 0z" fill="#5a5a5a"/>
            </svg>
        </a>
        <a href="https://www.linkedin.com/in/samuel-j-drew/">
            <i class='bx bxl-linkedin-square'></i>
        </a>
    </div>

</div>
{% endblock content %}