{% extends "samjd/base.html" %}
{% load static %}
{% load samjd_extras %}

{% block title %}
    Samuel J Drew
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "samjd/index.css" %}">
{% endblock css_files %}

{% block content %}
<div class="pagelist">
    <h1>What have I been up to?</h1>
    <ul>
        {% for project in projects %}
            <a href="{% url "project-detail-page" slug=project.slug %}">
                <li>
                    <div>
                        <img src="{{ project.header_image.image.url }}" alt="header image">
                        <h3>{{ project.title }}</h3>
                        {% if project.subheading %}
                        <p><strong>{{ project.subheading }}</strong></p>
                        {% endif %}
                        <p>{{ project.blurb|truncatechars_html:512 }}</p>
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>

</div>
{% endblock content %}
{% block script %}
sidebar.classList.toggle('aboutme');
sidebar.classList.toggle('pages');
{% endblock script %}
